{% extends 'base.html.twig' %}
{% block title %}show{% endblock %}
{% block body %}
<div class="container mt-3 mb-3">
    <div class="row ml-5 mb-3">
        <div class="col-2 mt-4">
           <a href="{{ path('Student',{'st':'students'}) }}" class="btn-warning btn"> back to page</a>
        </div>
    </div>
</div>
<table class="table mt-5">
<thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Course</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
  {% for show in result%}
    <tr>
      <th scope="row">{{show.id}}</th>
      <td>{{show.First_Name}}</td>
      <td>{{show.Last_Name}}</td>
      <td>{{show.Name}}</td>
      <td>{{show.Grade}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock %}

